/*** Tags ***/

h1{
	font-family: 	$font-primary;
	font-size: 		$font-size-header;
	color: 			$color-primary;
    line-height: 1.25em;
}

h2{
	font-family: 	$font-primary;
	font-size: 		$font-size-header;
	color: 			$color-primary;
    line-height: 1.25em;
}

h3{
	font-family: 	$font-primary;
	font-size: 		$font-size-header;
	color: 			$color-primary;
    line-height: 1.25em;
}

h4{
	font-family: 	$font-primary;
	font-size: 		$font-size-header;
	color: 			$color-primary;
    line-height: 1.25em;
}

p{
	font-family: 	$font-secondary;
	font-size: 		$font-size-body;
	color: 			$color-text;
    line-height: 1.5em;
}

a{
	text-decoration: none;
	color: 			$color-primary;
	font-family: 	$font-secondary;
	font-size: 		$font-size-body;
	outline: 		0;
	&:visited,&:focus{
		color: $color-primary;
		outline: 		0;
	}
	&:hover{
		color:		$color-text;
		outline: 		0;
	}
}

.primary-btn, a.primary-btn{
	font-size: $font-size-button;
	color: $color-text-alt;
	background: $color-primary;
	border: 1px solid $color-primary;
	padding: 17px 40px;
	font-weight: 700;
	transition: all .2s ease-in;
	&:visited,&:focus{
		color: $color-text-alt;
	}
	&:hover{
		color:		$color-primary;
		background: $color-text-alt;
		border: 1px solid $color-primary;
	}
}

.secondary-btn, a.secondary-btn{
	font-size: $font-size-button;
	color: $color-primary;
	background: $color-text-alt;
	border: 1px solid $color-primary;
	padding: 17px 40px;
	font-weight: 700;
	transition: all .2s ease-in;
	&:visited,&:focus{
		color: $color-primary;
	}
	&:hover{
		color:		$color-text-alt;
		background: $color-primary;
		border: 1px solid $color-text-alt;

	}
}


.alt-outline, a.alt-outline{
	border: 1px solid $color-text-alt;
}

ul,li{
    list-style-type: none;
}

.entry-content{
	margin: 0;
}

/*** Header ***/

header{
	.header-wrapper{
		height: 100px;
		display: flex;
		max-width: $max-site-width;
		margin: auto;
		padding: 0px 15px;
    	position: relative;

    	.header-logo{
	    	min-width: $header-logo-min-width;
    	}

		.header-left{
			flex: 1 1 $header-left-width;
	    	align-self: center;
		}
		.header-center{
			float: none;
			width: auto;

			flex: 1 1 $header-center-width;
	    	align-self: center;

			// @media screen and (max-width: 899px){
			// 	flex: 1 1 80%;
			// }
		}
		.header-right{
			text-align: right;

			flex: 1 1 $header-right-width;
	    	align-self: center;
	    	a{
			    font-family: 	$font-secondary;
				font-size: 		$font-size-nav;
				color: 			$color-text;
				font-weight: 700;
				text-decoration: none;
			}

			@media screen and (max-width: 899px){
				display: none;
			}
		}
		#site-navigation{
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
	    		display:none;

	    		li{
				    float: none;
				    text-align: center;
				    a{
					    font-family: 	$font-secondary;
						font-size: 		$font-size-nav;
						color: 			$color-text;
						font-weight: 	700;
					}
	    		}
	    	}

	    	@media screen and (min-width: 900px){
	    		.menu-toggle{
	    			display: none;
	    		}
	    		ul{
					display: flex;
		    		li{
					    flex: 1;
		    		}
		    	}
			}
			@media screen and (max-width: 899px){
				//flex: 1 1 80%;
				
				.menu-toggle{
		    		display: block;
		    		text-align: right;	
				    width: 50px;
				    height: 40px;
				    right: 15px;
				    top: 30px;
		    	}
				ul{
					opacity: 0;
					transition-duration: $transition__duration-fast;
				}
	    		.menu-menu-1-container{
					opacity: 0;
					transition-duration: $transition__duration-fast;
	    		}
		    	#hamburger-menu{
		    		position:absolute;
		    		&>div{
		    			position: absolute;
		    			width: 100%;
		    			height: 3px;
		    			background: $color-primary;
			    		transition-duration: $transition__duration-fast;
		    		}
		    		.hamburger-top{
		    			top: 0;
		    		}
		    		.hamburger-middle{
		    			top: 50%;
		    			transform: translateY(-50%);
			    		opacity: 1;
		    		}
		    		.hamburger-bottom{
		    			bottom: 0;
		    		}
		    	}
		    	&.toggled{


		    		#hamburger-menu{
		    			position: fixed;
						&>div{
			    			position: absolute;
			    			width: 100%;
			    			height: 3px;
			    			background: $color-text-alt;
			    		}
			    		.hamburger-top{
							transform: rotate(45deg);
    						top: 50%;
			    		}
			    		.hamburger-middle{
			    			opacity: 0;
			    		}
			    		.hamburger-bottom{
							transform: rotate(-45deg);
    						top: 50%;
			    		}
			    	}

		    		.menu-toggle{
		    			position: absolute;
		    			z-index: 10;
		    		}
		    		ul{
	    				display:block;
					    position: absolute;
					    top: 50%;
					    left: 50%;
					    transform: translate(-50%,-50%);
    					opacity: 1;
					    li a{
							color: $color-text-alt;
							font-size: $font-size-nav-mobile;
							line-height: 2.5em;
					    }
	    			}

		    		#primary-menu-container{
		    			position: fixed;
		    			top: 0px;
		    			left: 0px;
		    			width: 100vw;
		    			height: 100vh;
		    			background-color: rgba(0,0,0, 0.5);
    					z-index: 5;
    					opacity: 1;
   		    		}
	    		}
			}
		}
	}
}

/*** Footer ***/

footer{
	background: $color-text;
	padding: 25px 25px 10px;
	.footer-wrapper{
		max-width: calc( #{$max-site-width} - 30px );
		margin: auto;
	}
	.footer-navigation{
		display: inline-block;
		width: 100%;
		ul{
			list-style: none;
			display: flex;
			margin: 0;
			padding: 0;
			width: 100%;
			li{ 
			    float: none;
			    text-align: center;
			    flex: 1;
			    padding: 20px 0px;
				a{
					color: $color-text-alt;
				    font-family: 	$font-secondary;
					font-size: 		$font-size-nav;
					font-weight: 	700;
				}
			}
		}
	}

	.footer-content-wrapper{
		display: flex;
		.footer-right{
			flex: 1 1 auto;
			flex-basis: $footer-right-width;
			width: $footer-right-width;
			max-width: 100%;
			margin: auto;
		}
		.footer-center{
			flex: 1 1 auto;
			flex-basis: $footer-center-width;
			width: $footer-center-width;
			max-width: 100%;
			margin: auto;
		}
		.footer-left{
			flex: 1 1 auto;
			flex-basis: $footer-left-width;
			width: $footer-left-width;
			max-width: 100%;
			margin: auto;
		}

		@media screen and (max-width: 1024px){
			display: initial;
			.footer-right, .footer-center, .footer-left{
				display: block;
			}
		}
	}

	.footer-contact{ 
    	float: right;
    	text-align: right;
    	padding: 21px 0;
		.phone, .email, .social{
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}
		.phone{
			margin-right: 25px;
		}
		.email{
			margin-right: 55px;
		}
		.social-element{
			vertical-align: top;
		}
		a{
			color: $color-text-alt;
		}
	}
	.footer-copyright{
		color: $color-text-alt;
		font-size: 12px;
		text-align: center;
		padding-top: 5px;
		margin:1px 0px 0px;
	}
	@media screen and (max-width: 1024px){
		.footer-wrapper{
			text-align: center;
    		width: auto;
    		ul{
    			margin: auto;
    		}
		}
		.footer-contact{
			display: block;
			float: none;
			text-align: center;
    		width: auto;
		}
		.footer-navigation{
			display: block;
		}
	}
	@media screen and (max-width: 600px){
		.footer-wrapper{
			ul{
				display: block;
				width: auto;
				li{
					padding: 10px 0;
				}
			}
		}
		.footer-contact{
			.email{
				display: block;
				margin: 0;
				padding: 5px 0;
			}
			.phone{
				display: block;
				margin: 0;
				padding: 5px 0;
			}
			.social{
				padding: 5px 0;
				display: block;
				margin: 0;
			}
		}
	}
}

/* Slider Block */
.slider-block{
	margin-bottom: 50px;
	.slider-container{
		position: relative;
		.slider-slide{
			display:none;
			margin-bottom: 0px;
			&:first-child{
				display:block;
			}
		}

		&.slick-slider {
			.slider-slide{
				display:block;
			}
		}

		&.slick-slider .slick-arrow {

			position: absolute;
	    	top: 50%;
	    	left: 5px;
		    transform: translateY(-50%);
		    font-size: 0;
		    z-index: 1;
			&:before {
			    font-size: 40px;
			    display: inline-block;
			    content: '';
			    background: url(assets/images/arrowleft.png);
			    color: rgba(255, 255, 255, 0.8);
			    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
			    width: 21px;
			    height: 36px;
			}
		}
		&.slick-slider .slick-next{
			position: absolute;
		   	top: 50%;
		   	left: auto;
		   	right: 5px;
		    transform: translateY(-50%);
		    font-size: 0;
			&:before {
			    content: '';
			    background: url(assets/images/arrowright.png);
			    width: 21px;
			    height: 36px;
			}
		}
		.slick-list{
			height: 100%;
		}
		.slick-track{
			height: 100%;
		}
		.slider-slide{
			background-size: cover;
			background-repeat: no-repeat;
			height: $slider-height;
			position: relative;
			.slider-content{
				position: absolute;
				line-height: 1.25em;
				height: auto;
				width: 100%;
				max-width: 800px;
				color: $color-text-alt;
				text-align: center;
				top: 50%;//38.5%;
				left: 50%;
				transform: translate(-50%,-50%);
				
				@media screen and (min-width:901px){
					&.slider-right{
		    			width: 60%;
		    			right: calc(40% + 30px);
						text-align: right;
						padding: 0;
					}
					&.slider-left{
		    			width: 60%;
		    			left: calc(40% + 30px);
						text-align: left;
						padding: 0;
					}
				}

				h2{
					font-size: $font-size-banner-header;
					color: $color-text-alt;
					margin-top: 0px;
					margin-bottom: 2%;
					line-height: 1.25em;
				}
				p{
					margin: 0px; 
					font-size: $font-size-banner-content;
					color: $color-text-alt;
				}
				a{
					font-size: $font-size-banner-content;
					color: $color-primary;
					&:hover{
						color: $color-text-alt;
					}
				}
				.primary-btn{
					font-size: $font-size-button;
					color: $color-text-alt;
					&:hover{
						color: $color-primary;
					}
				}

				@media (max-width: 1024px){
					max-width: 650px;
					padding: 0 25px;
				}
			}
			@media screen and (max-width:1200px){
				height: calc( #{$slider-height} * 0.75 );
				.slider-content h2{
					font-size: calc( #{$font-size-banner-header} * 0.75) ;
				}
				.slider-content p, .slider-content p > a{
					font-size: calc( #{$font-size-banner-content} * 0.9) ;
				}
			}
			@media screen and (max-width:600px){
				height: calc( #{$slider-height} * 0.625 );
				.slider-content h2{
					font-size: calc( #{$font-size-banner-header} * 0.5) ;
				}
				.slider-content p, .slider-content p a{
					font-size: calc( #{$font-size-banner-content} * 0.8) ;
				}
			}
			@media screen and (max-width:400px){
				height: calc( #{$slider-height} * 0.625 );
				.slider-content h2{
					font-size: calc( #{$font-size-banner-header} * 0.4) ;
				}
				.slider-content p, .slider-content p a{
					font-size: calc( #{$font-size-banner-content} * 0.7) ;
				}
			}
		}
	}
}

/* Banner Block */

.banner-block{
	background-size: cover;
	background-repeat: no-repeat;
	height: $banner-height;
	position: relative;
	margin-bottom: 50px;
	.banner-content{
		position: absolute;
		line-height: 1.25em;
		width: 100%;
		max-width: 800px;
		color: $color-text-alt;
		text-align: center;
		top: 40%;
		left: 50%;
		transform: translate(-50%,-50%);
		
		@media screen and (min-width:901px){
			&.banner-right{
    			width: 60%;
    			right: 40%;
				text-align: right;
				padding: 0;
			}
			&.banner-left{
    			width: 60%;
    			left: 40%;
				text-align: left;
				padding: 0;
			}
		}

		h2{
			font-size: $font-size-banner-header;
			color: $color-text-alt;
			margin-top: 0px;
			margin-bottom: 2%;
			line-height: 1.25em;
		}
		p{
			margin: 0px; 
    		font-size: $font-size-banner-content;
			color: $color-text-alt;
		}

		@media (max-width: 1024px){
			max-width: 650px;
			padding: 0 25px;
		}
	}
	@media screen and (max-width:1200px){
		height: calc( #{$banner-height} * 0.75 );
		.banner-content h2{
			font-size: calc( #{$font-size-banner-header} * 0.75) ;
		}
		.banner-content p, .banner-content p > a{
			font-size: calc( #{$font-size-banner-content} * 0.9) ;
		}
	}
	@media screen and (max-width:600px){
		height: calc( #{$banner-height} * 0.625 );
		.banner-content h2{
			font-size: calc( #{$font-size-banner-header} * 0.5) ;
		}
		.banner-content p, .banner-content p a{
			font-size: calc( #{$font-size-banner-content} * 0.8) ;
		}
	}
	@media screen and (max-width:400px){
		height: calc( #{$banner-height} * 0.625 );
		.banner-content h2{
			font-size: calc( #{$font-size-banner-header} * 0.4) ;
		}
		.banner-content p, .banner-content p a{
			font-size: calc( #{$font-size-banner-content} * 0.7) ;
		}
	}
}

/* Body Block */

.block-container{
	width:100%;
	max-width: calc( #{$max-site-width} * 0.75 );
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	margin-bottom: 50px;

	p{
		line-height: 2em;
	}

	@media screen and (max-width: 1024px){
		padding: 25px;
	}
}


/* Side By Side */

.side-by-side-container{
	padding: 0 50px;
	max-width: calc( #{$max-site-width} + 100px );
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;

	.side-by-side-element{
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;

		-webkit-flex-flow: row wrap;
		justify-content: space-around;
	}
	.side-by-side-content{
		line-height: 2em;
	}

	.side-by-side-image, .side-by-side-body{
		display: inline-block;
		width: 50%;
		vertical-align: bottom;
		align-self: center;
	}
	.side-by-side-body{
		padding-left: 50px;
	}

	

	.side-by-side-element:nth-child(even) .side-by-side-body{
		padding-left: 0px;
		padding-right: 50px;
	}
	.side-by-side-element:nth-child(even){
		flex-direction: row-reverse;
	}
	@media(max-width: 1024px){

		padding: 0 25px;

		.side-by-side-element{
			display: block;

			max-width: 480px;
			margin-right: auto;
			margin-left: auto;

		
			.side-by-side-body{
				float: none;
				display: block;
				margin-bottom: 60px;
				width: 100%;
				&>*{
					padding: 0;
				}
				&:nth-child(even)>*{
					padding-right: 0;
				}
				
			}
		}
		.side-by-side-image{
			float: none;
			display: block;
			width: 100%;
		}
	}
	@media(max-width: 768px){
		.side-by-side-element{
			max-width: 380px;
		}
	}
}

/* Split Body Block */

.split-block-container{

	max-width: calc( #{$max-site-width} + 100px );
	margin-left: auto;
	margin-right: auto;

	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
  	flex-flow: row wrap;
	margin-bottom: 50px;

  	padding:25px; 

	.split-block{
		width: 50%;
		padding: 15px;

		@media screen and (max-width:1024px){
			padding: 0px;
			width: 100%;
		}

		h4{
			text-align: center;
		}
	}
}

/* Social Links */


.social-link-wrapper{
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
	max-width: calc( #{$max-site-width} * 0.8 );
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;

	.social-link-label{
		display: inline-block;
		color: #A4A6A9;
		margin-right: 50px;
	    vertical-align: top;
	    padding-top: 7px;
	    font-size: 15px;
	    font-weight: 500;
	    @media screen and (max-width: 1024px){
		    margin-right: 25px;
		    margin-left: 25px;
		}
	}

	.social-link-container{
		display: inline-block;
		max-width: calc( #{$max-site-width} * 0.8 );
	    margin-left: auto;
	    margin-right: auto;
	    padding-left: 50px;
	    padding-right: 50px;
	    text-align: center;

		@media screen and (max-width: 1024px){
		    padding-left: 25px;
		    padding-right: 25px;

		    div.social-link-button{
				margin-right: 4px;
			}
		}

		.social-link-button{
			display: inline-block;
			background: url(assets/images/sociallinksprite.png);
			height: 38px;
			width: 38px;
			margin-right: 12px;
		}

		.social-link-facebook {
			background: url(assets/images/sociallinksprite.png) -1px 0px;
		}
		.social-link-twitter {
			background: url(assets/images/sociallinksprite.png) -39px 0px;
		}
		.social-link-google {
			background: url(assets/images/sociallinksprite.png) -77px 0px;
		}
		.social-link-pinterest {
			background: url(assets/images/sociallinksprite.png) -115px 0px;
		}
		.social-link-email {
			background: url(assets/images/sociallinksprite.png) -153px 0px;
		}
		.social-link-text {
			background: url(assets/images/sociallinksprite.png) -191px 0px;
		}
	}
}


/* Accordion Block */

.accordion-block{
	max-width: $max-site-width;
	padding-left: 25px;
	padding-right: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.accordion-container
{
	position: relative;
	border-top: solid 1px $color-primary;
	border-bottom: solid 1px $color-primary;
	margin: 5px 0;

	&.expanded
	{
		.close-button-container
		{
			// transform: rotate(-45deg);
			// transition-duration: $transition__duration-fast;
		}
		.accordion-content
		{
			display: block;
		}
	}

	.accordion-trigger
	{
		cursor: pointer;

	}

	.accordion-title
	{
    	padding: 15px 50px 15px 20px;

		h4
		{
			line-height: 1em;
			margin: 0;
			text-align: left;
		}
	}

	.accordion-content
	{
		text-align: left;
		padding: 15px 20px 30px 20px;
		display: none;

		p{
			margin:0;
			line-height: 2em;
		}
	}
}

.close-button-container
{
	display: block;
	width: 22px;
	height: 22px;
	position: absolute; 
	right: 20px;
	margin-top: 15px;
	top: 0px;
	transition-duration: $transition__duration-fast;
	
	.close-button
	{
		background-color: $color-primary;
		display: block;
		width: 2px;
		height: 100%;

		&:after
		{
			content: "";
			background-color: $color-primary;
			display: block;
			width: 2px;
			height: 100%;
			position: absolute;
			transform: rotate(-90deg);
		}
	}
}

.expanded .close-button-container
{
    margin-right: 3px;
	top: -7px;
	transform: rotate(-45deg);
}

/*	Divided block	*/
.divided-block{
	display: flex;
    flex-wrap: wrap;
    margin: auto;
	text-align: center;
	max-width: $max-site-width;		//adjust this if you need the container to be larger or smaller.
	.divided-element{
		flex: 1;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		min-width: 280px; 			//change this to adjust how small elements containers can get.
		.divided-element-content{
			margin: auto;
			width: 90%; 			//used to automatically add spacing remove this to use the full container.
			max-width: auto; 		//change this to change the max size of each element.
		}
	}
}

/* Gallery and Silder */

/* Slick Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* custom slick code */

.slick-slider{ 
	position: relative;

	.slick-slide{
    	outline: 0;
	}

	.slick-arrow {
		position: absolute;
    	top: 50%;
    	left: -5px;
	    transform: translate(-100%, -50%);
	    font-size: 0;
	    background: none;
	    border: none;
	    outline: 0;
		&:before {
		    font-size: 40px;
		    display: inline-block;
		    content: '';
		    background: url(assets/images/arrowleft.png);
		    color: rgba(255, 255, 255, 0.8);
		    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
		    width: 21px;
		    height: 36px;
		}
	}
	.slick-next{
		position: absolute;
	   	top: 50%;
	   	left: auto;
	   	right: -5px;
	    transform: translate(100%, -50%);
	    font-size: 0;
		&:before {
		    content: '';
		    background: url(assets/images/arrowright.png);
		    width: 21px;
		    height: 36px;
		}
	}
}

/* Gallery Styling */

.view-more{
 	text-align: center;
 	p{
 		margin: 0;
 		font-weight: 700;
 	}
 }

.gallery-block, .tax-gallery_types{
	.popup-gallery{
		height: 100%;
		width: 100%;
		.gallery-image{
			height: 100%;
			width: 100%;
			img{
			    max-width: initial;
   				min-width: 100%;
    			min-height: 100%;
    			width: auto;
    			height: auto;
			}
		}
	}

	.gallery-image{
		opacity: 1;
	   	transition: opacity .25s ease-in-out;
	   	-moz-transition: opacity .25s ease-in-out;
	   	-webkit-transition: opacity .25s ease-in-out;
		img {
			cursor: pointer;
			width: 100%;
			height: 100%;
			vertical-align: middle;
		}
		&:hover{
			opacity: 0.7;
		}
	}
}

.gallery-block {
	max-width: $max-site-width;
	padding: 50px 0px;
	width: 100%;
	.entry {
	 	height: 240px;
	 	overflow: hidden;
	 		width: calc(33% - 20px);
	 		padding:0px;
			margin: 10px;
			display: inline-block;

			&:last-child{
				margin-right: 10px;
			};


		.popup-gallery{
			position: relative;
			img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		 @media all and (max-width: 1024px) {

	 		width: calc(33% - 20px);
		}
		 @media all and (max-width: 768px) {

	 		width: calc(50% - 20px);
		}
		@media all and (max-width: 480px) {

	 		width: calc(100% - 20px);
		}
	}
}

.gallery-posts .entry {
	vertical-align: top;
}

.gallery-posts {
	text-align: center;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

	.entry {
		text-align: center;
		padding-bottom: 45px;
		width: 30.7615656014%;
		min-width: 30.7615656014%;
		margin-right: auto;
		margin-left: auto;
		padding-right: 1%;
		padding-left: 1%;
	}
}

.entry-text {
	max-width: 75%;
    margin: -60px auto 0 auto;
    box-shadow: 0px 15px 15px -4px #ccc;
    background: #fff;
    position: relative;
    padding: 60px 35px;
    line-height: 2em;

    h2 {
    	font-size: 16px;
    	margin-top: 0px;
    		font-weight: 500;
    }
}

.gallery-image img {
	width: 100%;
}

.background-slide img{
    max-height: 80vh;
    width: auto;
    margin: auto;
}


#gallery-modal{
	&.remodal{
		background: transparent;
		max-width: 90vw;
	}
}

.pagination-container{
	a{
		font-size: $font-size-body;
		padding: 0 5px;
		color: $color-text;
		&:hover{
			color: $color-primary;
		}
		&.current-page{
			font-weight: 700;
			&:hover{
				color: $color-text;
			}
		}
	}
}