/*** Fonts ***/
$font-primary:    serif;
$font-secondary:  sans-serif;



$font-size-banner-header: 60px;
$font-size-banner-content: 21px;

$font-size-button: 13px;

$font-size-header: 28px;
$font-size-body: 16px;
$font-size-nav: 18px;
$font-size-nav-mobile: 28px;

